---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/atoms/Container.astro";
import type { CollectionEntry } from "astro:content";
import { BLOG_CONFIG } from "src/consts";
import Authors from "@components/Authors.astro";
import { sortBlogPosts } from "@utils/blog";
import Pagination from "@components/ui/Pagination.astro";
import { getBlogPermalink } from "@utils/permalinks";
import BlogGrid from "@components/blog/BlogGrid.astro";

type Post = CollectionEntry<'blog'>

export async function getStaticPaths({ paginate }: any) {
    const posts = await getCollection('blog');
    const sorted = posts.sort(sortBlogPosts);

    return paginate(sorted, {
        params: { blog: BLOG_CONFIG.index.pathname },
        pageSize: BLOG_CONFIG.postsPerPage
    })
}
const { page } = Astro.props;
---
<Layout title="Our blog">
    <Container>
        <div class="mt-6">
            <BlogGrid posts={page.data} />
        </div>
        <div class="mt-6">
            <Pagination page={page} base={getBlogPermalink()}/>
        </div>
    </Container>
</Layout>