---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/Hero.astro';
---

<Layout title="Welcome to Astro.">
    <Hero />
    <main class="h-screen">
        <h1>Hello world again</h1>
    </main>
</Layout>
