---
import { getCollection, CollectionEntry } from "astro:content";
import { Image } from '@astrojs/image/components';

export interface Props {
    authors: string[],
    show?: number
}

const { authors, show } = Astro.props;

// @ts-ignore
const authorProfiles = await getCollection('authors', ({ data }) => {
    return authors.map((author :string) => author).includes(data.name);
});
---
<div class="flex gap-4 items-center">
    {
       authorProfiles.slice(0, show ? show : undefined).map((author) => (
        <div class="flex gap-2 items-center">
            <Image 
                src={author.data.image} 
                alt={author.data.name} 
                width={200} 
                aspectRatio="1:1"
                class="w-10 h-10 rounded-full shadow-sm" 
            />
            <div>
                <div class="text-inherit font-medium">{author.data.name}</div>
                <slot />
            </div>
        </div>

       ))
    }
</div>