---
import { SITE_CONFIG as site } from "src/consts";
---
<a href="/" class="flex items-center font-headings gap-2">
    <span class="text-4xl text-inherit">⌬</span> 
    <span class="text-inherit font-bold text-xl lowercase">{site.siteName}</span>
</a>